extends layout

block content
  h1 Electric Slide
  section.week
    .electric-label.week Day of the week
    .electric-slide.week
      .handle
    .tip
  section.volume
    .electric-label.volume Volume (with 75% 'initialValue' and 'highlight' options set)
    .electric-slide.volume
      .handle
    .tip
  section.dob
    .electric-label.dob Date of birth
    .electric-slide.dob
      .handle
    .tip
  section.years
    .electric-label.years Decades
    .electric-slide.years
      .handle
    .tip
  section.dis
    .electric-label.dis Disabled by default
    .electric-slide.dis
      .handle
    .tip
  section.dynamic-disable
    .electric-label.dynamic-disable Dynamic Disable (must be called using `ElectricSlide` contructor)
    .electric-slide.dynamic-disable
      .handle
    .electric-help.dynamic-disable click the "Toggle Disabled" button to toggle disabled state
    button(type='button').dynamic-disable Toggle Disabled

block scripts
  script.
    // days of the week
    $('.electric-slide.week').electricSlide({
      label: '.electric-label.week',
      values: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
    })
    .on('electricSlide:change electricSlide:init', function (e, container, handle) {
      $('.week .tip').html(handle.getAttribute('aria-valuetext'));
    });
    // volume
    $('.electric-slide.volume').electricSlide({
      label: '.electric-label.volume',
      increment: 5,
      initialValue: 75,
      highlight: true
    })
    .on('electricSlide:change electricSlide:init', function (e, container, handle) {
      $('.volume .tip').html(handle.getAttribute('aria-valuenow') + '%');
    });
    // dob (1900 - 2000)
    $('.electric-slide.dob').electricSlide({
      values: {
        min: 1900,
        max: 2020
      }
    })
    .on('electricSlide:change electricSlide:init', function (e, container, handle) {
      $('.dob .tip').html('The year ' + handle.getAttribute('aria-valuenow'));
    });
    // decades (1900 - 2000)
    $('.electric-slide.years').electricSlide({
      values: {
        min: 1900,
        max: 2020
      },
      increment: 10
    })
    .on('electricSlide:change electricSlide:init', function (e, container, handle) {
      $('.years .tip').html('Decade: ' + handle.getAttribute('aria-valuenow'));
    });
    // disabled by default
    $('.electric-slide.dis').electricSlide({
      label: '.electric-label.dis',
      disabled: true
    });
    // dynamic-disable
    var ddSlider = document.querySelector('.electric-slide.dynamic-disable');
    var es = new ElectricSlide(ddSlider, {
      label: '.electric-label.dynamic-disable',
      help: '.electric-help.dynamic-disable'
    });

    document.querySelector('button.dynamic-disable').addEventListener('click', function () {
      if (es.disabled) {
        es.enable();
      } else {
        es.disable();
      }
    });
