doctype html
html(lang='en')
  head
    title Electric Slide | Accessible Slider
    link(rel='stylesheet' href='styles.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  body
    block content
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='electric-slide.js')
    block scripts