@import variables

/*
 * Demo Styles
 */

body
  font-family 'Electrolize', sans-serif
  background-color #000
  color #fff
  font-size 1.35em

h1
  font-size 3em
  text-align center

section
  margin 20px auto
  text-align center
  border 2px solid
  border-radius(15px)
  padding 15px
  min-width 550px
  background #fefefe
  color #000
  noSelect()

.electric-label
  margin 5px auto
  text-align center

.electric-slide
  margin 15px auto
  width 500px
  height 20px
  background #eee
  box-shadow(inset 1px 1px 6px)
  box-sizing(border-box)
  border-radius(5px)
  noSelect()

  .handle
    width 30px
    height 30px
    background #fff
    border 1px solid #000
    position absolute
    margin-top -5px
    box-sizing(border-box)
    noSelect()
    // transition(all .3s ease)

.tip
  text-align center
  margin-top 15px
