
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius(n)
  vendor(border-radius, n)

box-sizing(v)
  vendor(box-sizing, v)

box-shadow(v)
  vendor(box-shadow, v)

transition(args)
  vendor('transition', args)

noSelect()
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
