
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius(n)
  vendor(border-radius, n)

box-sizing(v)
  vendor(box-sizing, v)

box-shadow(v)
  vendor(box-shadow, v)

transition(args)
  vendor('transition', args)
